<h2 class="page-title">Football Updates</h2>
<br>
<div class="container">
  <div class="row rounded-row">
    <div (click)="onCountryClick('39')" class="col">England</div>
    <div (click)="onCountryClick('140')" class="col">Spain</div>
    <div (click)="onCountryClick('78')" class="col">Germany</div>
    <div (click)="onCountryClick('61')" class="col">France</div>
    <div (click)="onCountryClick('71')" class="col">Italy</div>
  </div>
</div>
<br>
<div *ngIf="(standings$ | async) === null">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</div>
<div *ngIf="standings$ | async as standings">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Pos</th>
        <th>Logo</th>
        <th>Name</th>
        <th>Games</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>GD</th>
        <th>Points</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let standing of standings;index as i" class="table">
        <td>{{i + 1}}</td>
        <td><img alt="Team Emblem" class="logo-size" src="{{standing.team.logo}}"></td>
        <td (click)="goToTeamFixtures(standing.team.id)" class="data">{{standing.team.name}}</td>
        <td>{{standing.all.played}}</td>
        <td>{{standing.all.win}}</td>
        <td>{{standing.all.lose}}</td>
        <td>{{standing.all.draw}}</td>
        <td>{{standing.goalsDiff}}</td>
        <td>{{standing.points}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
