/* You can add global styles to this file, and also import other style files */

.table td, th {
  text-align: center;
  vertical-align: middle;
}

.logo-size {
  width: 32px;
  height: 32px;
}

.page-title {
  text-align: center;
  color: white;
}
